@page
@model ExchangeSecureTexts.Pages.DecryptTextModel
@{
}

<form asp-page="DecryptTextModel" method="post">


    <div class="form-group">
        <label for="Message">EncryptedMessage:</label>
        <textarea class="form-control" rows="5" id="Message" name="EncryptedMessage">@Model.EncryptedMessage</textarea>
        <span asp-validation-for="EncryptedMessage" style="color:red"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="width:100%">Decrypt</button>

</form>


<br />
<br />
<textarea class="form-control" rows="5" id="Message" name="Message" readonly>@Model.Message</textarea>