@page
@model ExchangeSecureTexts.Pages.DecryptTextModel

<form asp-page="DecryptTextModel" method="post">

    <div class="form-group">
        <label class="form-label" for="Message">EncryptedMessage:</label>
        <textarea class="form-control" rows="5" id="Message" name="EncryptedMessage">@Model.EncryptedMessage</textarea>
        <span asp-validation-for="EncryptedMessage" style="color:red"></span>
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Decrypt</button>
        </div>
    </div>

</form>

<br />
<br />
<textarea class="form-control" rows="5" id="Message" name="Message" readonly>@Model.Message</textarea>