@page
@model ExchangeSecureTexts.Pages.EncryptTextModel
@{
}


<form asp-page="EncryptTextModel" method="post">

    <div class="form-group">
        <label for="TargetUserEmail">Encrypted Text intended for Identity with Email address </label>
        @*<input type="email" class="form-control" placeholder="Enter email"
               id="TargetUserEmail" name="TargetUserEmail" value="@Model.TargetUserEmail">
        <span asp-validation-for="TargetUserEmail" style="color:red"></span>*@

        <select name="TargetUserEmail" asp-items="Model.Users" class="form-control"></select>
    </div>

    <div class="form-group">
        <label for="Message">Message:</label>
        <textarea class="form-control" rows="5" id="Message" name="Message">@Model.Message</textarea>
        <span asp-validation-for="Message" style="color:red"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="width:100%">Encrypt</button>

</form>


<br />
<br />
<textarea class="form-control" rows="5" id="EncryptedMessage" name="EncryptedMessage" readonly>@Model.EncryptedMessage</textarea>