@page
@model ExchangeSecureTexts.Pages.EncryptTextModel
@{
}


<form asp-page="EncryptTextModel" method="post">

    <div class="form-group">
        <label for="TargetUserEmail">User Email address:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="TargetUserEmail" name="TargetUserEmail">
    </div>

    <div class="form-group">
        <label for="Message">Message:</label>
        <textarea class="form-control" rows="5" id="Message" name="Message"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>

</form>

<br /><br />
<textarea class="form-control" rows="5" id="EncryptedMessage" name="EncryptedMessage" readonly></textarea>