@page
@model ExchangeSecureTexts.Pages.EncryptTextModel

<form asp-page="EncryptTextModel" method="post">

    <div class="form-group">
        <label class ="form-label" for="TargetUserEmail">Encrypted Text intended for Identity with Email address </label>
        @Html.DropDownList("TargetUserEmail", Model.Users, new { @class = "form-control form-select" })
    </div>

    <div class="form-group">
        <label class="form-label" for="Message">Message:</label>
        <textarea class="form-control" rows="5" id="Message" name="Message">@Model.Message</textarea>
        <span asp-validation-for="Message" style="color:red"></span>
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Encrypt</button>
        </div>
    </div>

</form>

<br />
<br />
<textarea class="form-control" rows="5" id="EncryptedMessage" name="EncryptedMessage" readonly>@Model.EncryptedMessage</textarea>